<h2>All Heroines</h2>

<ul>
  <%=form_with(url: "/search", method: "get") do %>
    <%= label_tag(:search, "Search By SuperPower:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>

    <%@found_items.each do |item|%>
        <li>
            <a href=<%="#{heroines_path}/#{item.id}"%>><%=item.name%></a>
        </li>
        <br>
    <%end%>
</ul>